.chartAndTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parameterBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}